@CHARSET "UTF-8";

#xiala{
	padding:0px;
	width: initial;
}


#navigation{
	margin-bottom: 20px;
}

.col-md-6{
	padding-right: 0px;
	padding-left: 0px;
}
.col-md-4{
	padding-right: 0px;
	padding-left: 0px;
}

.form-inline{
	padding-left: 15px;
	padding-right: 15px;
}


#notebookPage_navigation{
	margin-bottom: 20px;
	text-align: center;
}

.form-control{
	width: inherit;
}

.treecss{
	display: inline-block; width: 200px; padding: 10px; overflow: auto;
	text-align: left;
	padding-left: 35px;
}

.movepanel{
	 text-align: center;
	 padding-top: 20px;
	 padding-bottom: 20px;
}

#jiantou{
	padding-left: 40px;
	 padding-right: 40px;
}




