<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	<mapper namespace="com.bjtu.ycd.dao.INoteBookDao">
		<resultMap type="com.bjtu.ycd.vo.NoteBook" id="bookResultMap">
			<id column="notebookid" property="notebookid" />
			<result column="notebookname" property="notebookname"/>
			<result column="msg" property="msg"/>
			<result column="createtime" property="createtime"/>
			<result column="spaceid" property="spaceid"/>
			<result column="flag" property="flag"/>
		</resultMap>
	
	 	<select id="getBookByVo" parameterType="com.bjtu.ycd.vo.NoteBook" resultMap="bookResultMap">
	 		select * from cn_notebook 
	 		where 1=1
	 		<if test="notebookid!=null">
	 			and notebookid = #{notebookid}
	 		</if>
	 		<if test="notebookname!=null">
	 			and notebookname = #{notebookname}
	 		</if>
	 		<if test="msg!=null">
	 			and msg = #{msg}
	 		</if>
	 		<if test="createtime!=null">
	 			and createtime = #{createtime}
	 		</if>
	 		<if test="spaceid!=null">
	 			and spaceid = #{spaceid}
	 		</if>
	 		<if test="flag!=null">
	 			and flag = #{flag}
	 		</if>
	 	</select>
	
	 	<select id="getBookByKey" parameterType="String" resultMap="bookResultMap">
	 		select * from cn_notebook 
	 		where notebookname like "%"#{key}"%" or msg like "%"#{key}"%"
	 	</select>
	 	
	 	<insert id="insertByVo" parameterType="com.bjtu.ycd.vo.NoteBook" >
	 		insert into cn_notebook(notebookid,notebookname,msg,createtime,spaceid,flag) 
	 		values(#{notebookid},#{notebookname},#{msg},#{createtime},#{spaceid},#{flag})
	 	</insert>
	 	
	 	<delete id="deleteById" parameterType="com.bjtu.ycd.vo.NoteBook">
	 		delete from cn_notebook where notebookid = #{notebookid}
	 	</delete>
	 	<update id="updateById" parameterType="com.bjtu.ycd.vo.NoteBook">
	 		update cn_notebook
	 		<trim prefix="set" suffixOverrides=",">
	 			<if test="notebookname!=null">
	 				notebookname=#{notebookname},
	 			</if>
	 			<if test="msg!=null">
	 				msg=#{msg},
	 			</if>
	 			<if test="spaceid!=null">
	 				spaceid=#{spaceid},
	 			</if>
	 			<if test="flag!=null">
	 				flag=#{flag},
	 			</if>
	 		</trim>
	 		where notebookid = #{notebookid}
	 	</update>
	</mapper>
	