<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	<mapper namespace="com.bjtu.ycd.dao.IUserDao">
	 	<select id="getUserByName" parameterType="com.bjtu.ycd.vo.User" resultType="com.bjtu.ycd.vo.User">
	 		select * from cn_user 
	 		where 1=1
	 		<if test="email!=null">
	 			and email = #{email}
	 		</if>
	 		<if test="mobile!=null">
	 			and mobile = #{mobile}
	 		</if>
	 	</select>
	 	
	 	<insert id="insertByUser" parameterType="com.bjtu.ycd.vo.User" >
	 		insert into cn_user(id,username,password,mobile,email) 
	 		values(#{id},#{username},#{password},#{mobile},#{email})
	 	</insert>
	 	
	</mapper>
	